name: Docker Build

on:
  push:
    branches:
      - v3.3.2-hotfix

env:
  HUB: ghcr.io/scultura-org/console

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUPPETEER_SKIP_DOWNLOAD: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to the Container registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ${{ env.HUB }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Python2
        run: |
          sudo apt-get update
          sudo apt-get install python2 -y
      - name: Build
        run: |
          sudo npm install -g node-gyp
          sudo npm install -g npm
          
          yarn
          yarn build
#          docker buildx build --platform linux/amd64,linux/arm64 -f build/Dockerfile -t ${HUB}/ks-console:v3.3.2 --push .