name: Docker Build

on:
  push:
    branches:
      - v3.3.2-hotfix

env:
  HUB: ghcr.io/scultura-org/console

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PUPPETEER_SKIP_DOWNLOAD: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to the Container registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ${{ env.HUB }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          docker build -f build/Dockerfile -o type=local,dest=./out .
          
          cp -R /out/out ./out
        
          docker buildx build -f build/Dockerfile.dapper -t ghcr.io/scultura-org/console/ks-console:v3.3.2 --push .